.transaction {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  border: 1px solid #aec7da;
  border-collapse: collapse;
  box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

th,
td {
  padding: 10px 0;
  border: 1px solid #aec7da;
}

.transaction__title {
  background-color: #8ebde0;
  text-transform: uppercase;
  color: white;
  padding: 10px 0;
}
